[Unit]
Description=Photographer.ru telegram to VK repost bot
After=multi-user.target

[Service]
Type=simple
User=andrey
Restart=always
ExecStart=/usr/bin/python3 /home/andrey/bot-tg2vk-runtime/bot.py

[Install]
WantedBy=multi-user.target
